@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.25o87uqmvr.bundle.scp.css';

/* _content/Mini_Project_Kredit/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-tkk05b6qs0] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-tkk05b6qs0] {
    flex: 1;
}

.sidebar[b-tkk05b6qs0] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-tkk05b6qs0] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-tkk05b6qs0]  a, .top-row[b-tkk05b6qs0]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-tkk05b6qs0]  a:hover, .top-row[b-tkk05b6qs0]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-tkk05b6qs0]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-tkk05b6qs0] {
        justify-content: space-between;
    }

    .top-row[b-tkk05b6qs0]  a, .top-row[b-tkk05b6qs0]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-tkk05b6qs0] {
        flex-direction: row;
    }

    .sidebar[b-tkk05b6qs0] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tkk05b6qs0] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-tkk05b6qs0]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-tkk05b6qs0], article[b-tkk05b6qs0] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-tkk05b6qs0] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-tkk05b6qs0] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Mini_Project_Kredit/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-jhu078ipa2] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-jhu078ipa2] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-jhu078ipa2] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-jhu078ipa2] {
    font-size: 1.1rem;
}

.bi[b-jhu078ipa2] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-jhu078ipa2] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-jhu078ipa2] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-jhu078ipa2] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-jhu078ipa2] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-jhu078ipa2] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-jhu078ipa2] {
        padding-bottom: 1rem;
    }

    .nav-item[b-jhu078ipa2]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-jhu078ipa2]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-jhu078ipa2]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-jhu078ipa2] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-jhu078ipa2] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jhu078ipa2] {
        display: none;
    }

    .nav-scrollable[b-jhu078ipa2] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/Mini_Project_Kredit/Components/Pages/Home.razor.rz.scp.css */
/* HERO SECTION */
.hero[b-klppfiu7gz] {
    background: linear-gradient(135deg, #0d6efd, #084298);
    color: white;
    padding: 80px 0;
}

.hero h1[b-klppfiu7gz] {
    font-weight: 800;
    letter-spacing: 1px;
}

.hero p[b-klppfiu7gz] {
    font-size: 1.2rem;
    opacity: 0.95;
}

/* BUTTONS */
.hero .btn[b-klppfiu7gz] {
    min-width: 180px;
    font-weight: 600;
    border-radius: 8px;
}

.hero .btn-outline-light:hover[b-klppfiu7gz] {
    color: #0d6efd;
    background-color: #ffffff;
}

/* FEATURE CARDS */
.feature-card[b-klppfiu7gz] {
    border-radius: 12px;
    transition: all 0.3s ease;
}

.feature-card:hover[b-klppfiu7gz] {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.feature-card h5[b-klppfiu7gz] {
    font-weight: 700;
    margin-bottom: 12px;
}

/* FOOTER */
.footer[b-klppfiu7gz] {
    padding: 20px 0;
    background-color: #f8f9fa;
    color: #6c757d;
}
/* _content/Mini_Project_Kredit/Components/Pages/Login.razor.rz.scp.css */
.login-container[b-y3ugrvcd4j] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
    font-family: Arial, Helvetica, sans-serif;
}

.login-box[b-y3ugrvcd4j] {
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.login-box h3[b-y3ugrvcd4j] {
    text-align: center;
    margin-bottom: 20px;
}

.form-group[b-y3ugrvcd4j] {
    margin-bottom: 15px;
}

input[b-y3ugrvcd4j] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn-login[b-y3ugrvcd4j] {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.error-msg[b-y3ugrvcd4j] {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}
/* _content/Mini_Project_Kredit/Components/Pages/Register.razor.rz.scp.css */
.register-container[b-erulhycps2] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
    font-family: Arial, Helvetica, sans-serif;
}

.register-box[b-erulhycps2] {
    width: 950px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.register-box h3[b-erulhycps2] {
    text-align: center;
    margin-bottom: 20px;
}

.form-group[b-erulhycps2] {
    margin-bottom: 15px;
}

input[b-erulhycps2] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn-login[b-erulhycps2] {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.error-msg[b-erulhycps2] {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}
