.register-container[b-erulhycps2] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
    font-family: Arial, Helvetica, sans-serif;
}

.register-box[b-erulhycps2] {
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.register-box h3[b-erulhycps2] {
    text-align: center;
    margin-bottom: 20px;
}

.form-group[b-erulhycps2] {
    margin-bottom: 15px;
}

input[b-erulhycps2] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn-login[b-erulhycps2] {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.error-msg[b-erulhycps2] {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}
